$white: #ffffff;
$black: #000000;
$gray: #808080;
$dark-gray: #565656;
$light-gray: #e5e5e5;
$bkg: #f4f7fa;

// $primary: #1664d6;
// $secondary: #8520bd;
// $tertiary: #009fe3;
// $warning: #ffbb10;
// $error: #f3596a;
// $clear: #18d38f;

$primary-dark: #1b1b6d;
$primary: #4747ea;
$secondary: #f6cafc;
$tertiary: #ee7f36;
$warning: #ffbb10;
$error: #f3596a;
$clear: #18d38f;
