<div class="course-card">
	<div class="box shadow-1 card">
		<div class="box shadow-2 image">
			<img class="image" src="../../assets/images/cursos.png" alt=""/>
		</div>
		<div class="content flex-column p-2 pt-3">
			<div class="box shadow-1 pt-1 pb-1 pl-2 pr-2">
				<p class="italic gray">Curso:</p>
				<h3 class="primary">Creatividad e innovación aplicada a...</h3>
			</div>
			<p class="my-2 px-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros mauris, rutrum at augue vitae, mollis ornare quam...</p>
			<div class="status-box box shadow-1 p-1 mt-4 align-self-start ">
				<h3 class="flex align-center">
					<img class="mr-1" src="../../assets/images/check.png" alt="">
					100% Completado
				</h3>
			</div>
		</div>
	</div>
</div>
