<div class="header-card challenge">
	<div class="box shadow-1 card">
		<div class="box shadow-2 image">
			<img class="image" src="../../assets/images/image1.png" alt=""/>
		</div>
		<div class="content">
			<h3 class="title">
				Mayor comunicación en la empresa
			</h3>
			<p class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla.
			</p>
			<p class="date">
				Cierre de convocatoria: 25/04/2022
			</p>
		</div>
	</div>

	<div class="button-wrapper">
		<button class="secondary">Enviar nueva idea</button>
		<button class="secondary inline">Aprender del desafío</button>
	</div>
</div>
