<div class="grid grid-9 idea-card-list box shadow-2 py-1 mb-2 no-padding px-2">
	<div class="span-1 box shadow-3 p-1">
		<p class="gray flex align-center justify-center h-100">9172190</p>
	</div>
	<div class="span-3 box shadow-3 h-100 p-1">
		<h3 class="primary">Idea de prueba con título extendido versión lista muy...</h3>
	</div>
	<div class="span-2">
		<p class="h-100 flex align-center">Transformación digital junto a nuestros clientes</p>
	</div>
	<div class="span-1">
		<p class="h-100 flex align-center">Evaluación técnica</p>
	</div>
	<div class="span-2 flex">
		<button class="icon default shadow auto-width px-2 h-100">
			<img src="../../assets/images/like.svg" alt="">
			142
		</button>
		<button class="icon default shadow auto-width px-2 h-100 ml-2">
			<img src="../../assets/images/message.svg" alt="">
			25
		</button>
		<button class="button secondary shadow auto-width px-2 ml-2">Editar</button>
	</div>
</div>
