<div class="ranking-card points">
	<div class="box shadow-1 p-3">
		<h3 class="primary pb-2">Mayor puntaje</h3>
		<div class="mt-4 rank-wrapper">
			<div class="rank box shadow-1 secondary flex between align-center py-1 pr-2">
				<img src="../../assets/images/rank4.png" alt="">
				<p class="bold white">Maximiliano
					<br>Contreras</p>
				<p class="points opacity round-corners-1 p-1">340pts.</p>
			</div>
		</div>
		<div class="mt-4 rank-wrapper">
			<div class="rank box shadow-1 primary flex between align-center py-1 pr-2">
				<img src="../../assets/images/rank5.png" alt="">
				<p class="bold white">Maximiliano
					<br>Contreras</p>
				<p class="points opacity round-corners-1 p-1">340pts.</p>
			</div>
		</div>
		<div class="mt-4 rank-wrapper">
			<div class="rank box shadow-1 tertiary flex between align-center py-1 pr-2">
				<img src="../../assets/images/rank5.png" alt="">
				<p class="bold white">Maximiliano
					<br>Contreras</p>
				<p class="points opacity round-corners-1 p-1">340pts.</p>
			</div>
		</div>
	</div>
</div>
