<div class="box shadow-2 proyect-card">
	<div class="grid no-padding">
		<div class="box shadow-1 title">
			<h3 tag="h3">Inteligencia Artificial para Soporte automatizado en planta</h3>
		</div>
		<div class="action-box">
			<div class="top-row">
				<div class="box shadow-1 messages">
					<button class="default icon">
						<img src="../../assets/images/message.svg"/>
						2
					</button>
				</div>
				<img class="favourite" src="../../assets/images/star.svg" alt="">
			</div>

			<p class="status">
				En curso
			</p>
		</div>
	</div>
	<div class="grid no-padding mt-2">
		<div class="portfolio">
			<p class="bold">
				<span>Portafolio:</span>
				Portafolio de prueba</p>
			<p class="bold">
				<span>Comienza el:</span>
				28-03-2022</p>
		</div>
	</div>
	<div class="grid no-padding content-row mt-2">
		<div class="box shadow-1 span-5 span-md-6 span-sm-12">
			<div class="between">
				<h3 class="bold primary">Gannt</h3>
				<button class="primary inline">Ver más</button>
			</div>
			<div class="between">
				<div>
					<h3 class="number dark-gray">30</h3>
					<p class="gray">Actividades/
						<br>Hitos</p>
				</div>
				<div class="border-right border-light-gray"></div>
				<div>
					<p class="italic gray">Pendientes: 4</p>
					<p class="italic gray">Atrasados: 1</p>
					<p class="italic gray">Asignadas: 28</p>
				</div>
			</div>
		</div>
		<div class="box shadow-1 span-7 span-md-6 span-sm-12 flex-column mt-md-1">
			<h3 class="bold primary">Presupuesto ejecutado</h3>
			<div class="between h-100">
				<h3 class="number dark-gray">100,0%</h3>
				<div class="border-right border-light-gray"></div>
				<div>
					<p class="italic gray">Ejecutado: $15.918.020</p>
					<p class="italic gray">Asignado: $90.000.000</p>
				</div>
			</div>
		</div>
	</div>
	<div class="grid no-padding content-row mt-1">
		<div class="box shadow-1 span-5 span-md-6 span-sm-12">
			<div class="between">
				<h3 class="bold primary">Kanban</h3>
				<button class="primary inline">Ver más</button>
			</div>
			<div class="between">
				<div>
					<h3 class="number dark-gray">23</h3>
					<p class="gray">Trajetas</p>
				</div>
				<div class="border-right border-light-gray"></div>
				<div>
					<p class="italic gray">Pendientes: 4</p>
					<p class="italic gray">Atrasados: 1</p>
					<p class="italic gray">Asignadas: 28</p>
				</div>
			</div>
		</div>
		<div class="box shadow-1 span-7 span-md-6 span-sm-12 flex-column mt-md-1">
			<h3 class="bold primary">Indicadores</h3>
			<div class="between h-100">
				<div>
					<h3 class="number dark-gray">100,0%</h3>
					<p class="italic gray">ROI</p>
				</div>
				<div class="border-right border-light-gray"></div>
				<div>
					<h3 class="number dark-gray">$19.000.120</h3>
					<p class="italic gray">VAN</p>
				</div>
			</div>
		</div>
	</div>
	<button class="secondary mt-2">Ver proyecto</button>
</div>
