<div class="idea-card side-menu">
	<div class="box shadow-1 card">
		<div class="box shadow-2 image">
			<img class="image" src="../../assets/images/image1.png" alt=""/>
		</div>
		<div class="content flex-column p-2 pt-3">
			<div class="box shadow-1 pt-1 pb-1 pl-2 pr-2">
				<p class="italic gray">Idea:</p>
				<h3 class="primary">Idea de prueba</h3>
			</div>
			<div class="flex justify-start pt-3 pl-4 pr-4">
				<p class="italic gray">Desafío:</p>
				<p class="pl-2">Transformación digital junto a nuestros clientes</p>
			</div>
			<div class="flex justify-start pt-3 pl-4 pr-4">
				<p class="italic gray">Estado:</p>
				<p class="pl-2">En curso</p>
			</div>
			<div class="flex-column align-center mt-3">
				<div class="between action-buttons">
					<button class="default icon shadow auto-width">
						<img src="../../assets/images/like.svg"/>
						142
					</button>
					<button class="default icon shadow auto-width">
						<img src="../../assets/images/message.svg"/>
						25
					</button>
				</div>
				<button class="secondary mt-2 align-self-center">Ver idea</button>
			</div>
		</div>
	</div>
</div>

<div class="box shadow-2 p-3 mt-2">
	<h3 class="primary pl-1">Ordenar por</h3>
	<div class="select box shadow-1 p-3 mt-2">
		<select id="standard-select">
			<option value="" disabled selected hidden>Fecha de creación (más reciente)</option>
			<option value="Option 2">Option 2</option>
			<option value="Option 3">Option 3</option>
			<option value="Option 4">Option 4</option>
			<option value="Option 5">Option 5</option>
		</select>
		<span class="focus"></span>
	</div>
</div>

<div class="box shadow-2 p-3 mt-2">
	<h3 class="primary pl-1">Búsqueda y filtros</h3>
	<div class="box p-2 mt-1">
		<input class="input-text" type="text" placeholder="Título:">
	</div>
	<div class="box p-2 mt-1">
		<input class="input-text" type="text" placeholder="Autor/a:">
	</div>
	<div class="box p-2 mt-1">
		<input class="input-text" type="text" placeholder="ID: #">
	</div>
	<div class="select box p-2 mt-1">
		<select id="standard-select">
			<option value="" disabled selected hidden>Desafío</option>
			<option value="Option 2">Option 2</option>
			<option value="Option 3">Option 3</option>
			<option value="Option 4">Option 4</option>
			<option value="Option 5">Option 5</option>
		</select>
		<span class="focus"></span>
	</div>
	<div class="checkboxes square mt-1 box p-2 flex-column align-start">
		<p class="gray">Estado:</p>
		<label class="checkbox-container gray square mt-2">Evaluación inicial
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="checkbox-container gray square mt-2">Evaluación técnica
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="checkbox-container gray square mt-2">Evaluación de comité
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="checkbox-container gray square mt-2">Aceptadas
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="checkbox-container gray square mt-2">Mejora continua
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
	</div>
	<button class="icon primary w-100 mt-2">
		<img src="../../assets/images/filter.svg" alt="">
		Aplicar filtro
	</button>
	<button class="icon inline gray w-100 mt-2">
		<img src="../../assets/images/delete.svg" alt="">
		Limpiar filtro
	</button>
</div>
