<section class="cards-list">
	<div class="span-12 pl-2">
		<button class="auto-width">
			<img src="../../assets/images/gridView.svg" alt="">
		</button>
		<button class="auto-width ml-2">
			<img src="../../assets/images/listView.svg" alt="">
		</button>
	</div>
	<div class="grid grid-9 py-4 no-padding px-4">
		<div class="span-1">
			<p class="italic gray">ID:</p>
		</div>
		<div class="span-3">
			<p class="italic gray">Idea:</p>
		</div>
		<div class="span-2">
			<p class="italic gray">Desafío:</p>
		</div>
		<div class="span-1">
			<p class="italic gray">Estado:</p>
		</div>
		<div class="span-2"></div>
	</div>
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
	{% include "../components/ideaCardList.twig" %}
</section>
