<section class="column-content col-4">
	<div class="box primary header title-padding between align-center">
		<h2>Cursos</h2>
		<button class="bold opacity">Ver todos los cursos</button>
	</div>
	<div class="grid content-wrapper pl-4 pr-4">
		{% include "../components/courseCard.twig" %}
		{% include "../components/courseCard.twig" %}
		{% include "../components/courseCard.twig" %}
		{% include "../components/courseCard.twig" %}
	</div>
</section>
