<section class="column-content col-2">
	<div class="box primary header title-padding between align-center">
		<h2>Proyectos en la compañía</h2>
		<button class="bold opacity">Ver todos los proyectos</button>
	</div>
	<div class="grid no-padding content-wrapper">
		{% include "../components/proyectCard.twig" %}
		{% include "../components/proyectCard.twig" %}
	</div>
</section>
