<section class="column-content col-2 centered">
	<div class="box primary header title-padding">
		<h2>Nuestros desafíos</h2>
	</div>
	<div class="grid no-padding content-wrapper">
		{% include "../components/headerCard.twig" %}
		{% include "../components/headerCard.twig" %}
	</div>
</section>
