<section class="column-content cards grid no-padding grid-3">
	<div class="span-3 mb-1 pl-2">
		<button class="auto-width">
			<img src="../../assets/images/gridView.svg" alt="">
		</button>
		<button class="auto-width ml-2">
			<img src="../../assets/images/listView.svg" alt="">
		</button>
	</div>
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
	{% include "../components/ideaCard.twig" with {ideaView: true} %}
</section>
