<section class="full-width-image mb-4">
	<div class="box primary header title-padding between align-center">
		<h2>Noticias</h2>
		<button class="bold opacity">Ver todos los cursos</button>
	</div>
	<div class="grid px-4 px-md-3 mt-4 ">
		<div class="span-12 span-sm-6 info-container grid no-padding-md">
			<img class="round-corners-1 shadow-1" src="../../assets/images/fullwidth.jpg" alt="">
			<div class="span-1"></div>
			<div class="span-4 span-xl-6 span-lg-9 span-md-10 span-sm-12 flex align-center">
				<div class="box white shadow-1 w-100 p-3">
					<h2 class="primary">¡Bienvenidos a nuestra nueva plataforma de innovación!</h2>
					<p class="dark-gray mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula aliquam sagittis. Integer ex nibh, viverra dapibus tincidunt sit amet, ornare at ex.</p>
					<div class="between mt-3">
						<p class="dark-gray mt-3">Creada el 24/04/2022</p>
						<button class="icon auto-width shadow default px-3">
							<img src="../../assets/images/message.svg"/>
							2
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
