<section class="new-idea-form pb-4">
	<div class="box primary header title-padding-small between align-center">
		<h2>Nueva idea</h2>
	</div>
	<div class="box shadow-2 px-4 py-5 mt-3 content round-corners-1">
		<div class="content-row flex">
			<div class="text">
				<p class="bold">Título de la idea</p>
				<p class="small gray mt-2">Resume en un par de palabras la acción que busca generar tu idea. Un buen título no debería tener más de 5 palabras</p>
			</div>
			<div class="box shadow-1 p-2 input">
				<textarea type="textarea"></textarea>
			</div>
		</div>
		<div class="content-row flex mt-4">
			<div class="text">
				<p class="bold">Descripción del Problema</p>
				<p class="small gray mt-1">Resume en un par de palabras la acción que busca generar tu idea.</p>
			</div>
			<div class="box shadow-1 p-2 input">
				<textarea type="textarea"></textarea>
			</div>
		</div>
		<div class="content-row flex mt-4">
			<div class="text">
				<p class="bold">Propuesta</p>
				<p class="small gray mt-1">Explica tu idea de manera sintética y detalla que metodología debe usarse para llevarlo a cabo. Cuento que procesos y materiales son necesarios para desarrollar la innovación propuesta.</p>
			</div>
			<div class="box shadow-1 p-2 input">
				<textarea type="textarea"></textarea>
			</div>
		</div>
		<div class="content-row flex mt-4">
			<div class="text">
				<p class="bold">Beneficios</p>
				<p class="small gray mt-1">Explica de manera resumida que beneficios supone el desarrollo de tu idea. Justifica tu idea en base a que puede lograr tu empresa al realizarlo. Cuáles son los beneficios directos.</p>
			</div>
			<div class="box shadow-1 p-2 input">
				<textarea type="textarea"></textarea>
			</div>
		</div>
		<div class="content-row h-auto flex mt-4">
			<div class="text">
				<p class="bold">¿Qué es lo que busca tu idea?</p>
				<p class="small gray mt-1">Selecciona qué acción apunta a lograr tu idea.</p>
			</div>
			<div class="checkboxes">
				<label class="checkbox-container round">Crear o mejorar un producto/servicio
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="checkbox-container round">Crear o mejorar un producto/servicio
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="checkbox-container round">Crear o mejorar un producto/servicio
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="checkbox-container round">Crear o mejorar un producto/servicio
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
		<div class="content-row h-auto flex mt-5 align-start">
			<div class="text">
				<p class="bold">Colaboradores</p>
				<p class="small gray mt-1">Selecciona uno o más colaboradores para que sean participe de la idea.</p>
			</div>
			<div class="collaborators">

				<div class="grid grid-9 no-padding">
					<div class="span-4">
						<p class="italic dark-gray">Nombre</p>
					</div>
					<div class="span-2">
						<p class="italic dark-gray">Estado</p>
					</div>
					<div class="span-2">
						<p class="italic dark-gray">Clase</p>
					</div>
					<div class="span-1"></div>
				</div>

				<div class="grid grid-9 no-padding mt-1 mb-5">
					<div class="span-4 span-lg-12 mb-lg-1">
						<div class="box shadow-2 p-1 collaborator flex align-center">
							<div class="profile-tag warning flex justify-center align-center">
								<p class="white">MC</p>
							</div>
							<p class="dark-gray ml-1">Maximiliano Contreras</p>
						</div>
					</div>
					<div class="span-2 span-lg-5">
						<div class="box shadow-2 p-1 status flex align-center">
							<div class="icon-check"></div>
							<p class="dark-gray">Aceptado</p>
						</div>
					</div>
					<div class="span-2 span-lg-4">
						<div class="box shadow-2 p-1 flex align-center h-100">
							<div class="select">
								<select id="standard-select">
									<option value="" disabled selected hidden>Rol</option>
									<option value="Option 2">Option 2</option>
									<option value="Option 3">Option 3</option>
									<option value="Option 4">Option 4</option>
									<option value="Option 5">Option 5</option>
								</select>
								<span class="focus"></span>
							</div>
						</div>
					</div>
					<div class="span-1"></div>
				</div>

				<div class="grid grid-9 no-padding mb-5">
					<div class="span-4 span-lg-12 mb-lg-1">
						<div class="box shadow-2 p-1 collaborator flex align-center">
							<div class="profile-tag error flex justify-center align-center">
								<p class="white">MC</p>
							</div>
							<p class="dark-gray ml-1">Matías Salinas</p>
						</div>
					</div>
					<div class="span-2 span-lg-5">
						<div class="box shadow-2 p-1 status flex align-center">
							<div class="icon-pending"></div>
							<p class="dark-gray">Pendiente</p>
						</div>
					</div>
					<div class="span-2 span-lg-4">
						<div class="box shadow-2 p-1 flex align-center h-100">
							<div class="select">
								<select id="standard-select">
									<option value="" disabled selected hidden>Rol</option>
									<option value="Option 2">Option 2</option>
									<option value="Option 3">Option 3</option>
									<option value="Option 4">Option 4</option>
									<option value="Option 5">Option 5</option>
								</select>
								<span class="focus"></span>
							</div>
						</div>
					</div>
					<div class="span-1 delete flex align-center justify-center">
						<img src="../../assets/images/delete.svg" alt="">
					</div>
				</div>
				<div class="grid grid-9 no-padding mt-1">
					<button class="span-4 mt-0">
						<div class="box dotted gray p-1 status flex align-center">
							<div class="icon-plus"></div>
							<p class="dark-gray ml-1">Agregar colaborador</p>
						</div>
					</button>
				</div>

			</div>
		</div>

		<div class="content-row h-auto flex mt-5 align-start">
			<div class="text">
				<p class="bold">Idea privada</p>
				<p class="small gray mt-1">Según el criterio del autor/a, una idea puede considerarse privada si trata de algún tema confidencial de unárea de la empresa o con datos delicados. Si una idea es privada, sólo  será vista por el autor, co-autor(es) y evaluadores.</p>
			</div>
			<div class="checkboxes">
				<label class="checkbox-container round auto-width">Si
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
		<div class="content-row h-auto flex mt-5 align-start">
			<div class="text">
				<p class="bold">Adjuntar archivos</p>
				<p class="small gray mt-1">Agrega archivos que documenten aspectos técnicos para el desarrollo de tu idea. Desde catalogos de productos hasta documentos t écnicos (Max. 10MB por archivo).</p>
			</div>
			<div class="files w-75 mt-lg-2">
				<div class="file-item w-60 w-md-100 span-4 box shadow-2 flex p-2 between">
					<div class="box primary shadow-1">
						<img src="../../assets/images/attach_file.svg" alt="">
					</div>
					<p class="gray">Resolución técnica.pdf</p>
					<p class="light-gray">4MB</p>
				</div>
				<button class="mt-2 dotted gray icon">
					<img src="../../assets/images/attach_file_add.svg" alt="">
					<p class="dark-gray ml-1">Adjuntar archivo</p>
				</button>
			</div>
		</div>
	</div>
</section>
