<section class="text-box-with-header pb-4">
	<div class="box primary header title-padding-small between align-center">
		<h2>
			<span class="italic regular">Desafío:</span>
			Mayor comunicación en la empresa</h2>
	</div>
	<div class="box shadow-1 p-5 mt-3 content round-corners-1">
		<h3 class="primary mb-4">Contenido del desafío</h3>
		<p class="dark-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget sit proin quis nisl aliquam fames aliquam. Scelerisque feugiat lacus facilisis egestas turpis consequat scelerisque scelerisque sed. Tortor, laoreet libero, laoreet donec convallis a vulputate neque. Commodo scelerisque diam cursus suscipit ultricies posuere vel. Nam sit et semper leo elit quis.</p>
		<p class="dark-gray">Malesuada nisl a eget pellentesque purus arcu. Vulputate leo, at lorem commodo pretium in mattis ac, tincidunt. Enim porttitor ac augue nec. Non sagittis lorem hendrerit in viverra arcu ullamcorper nibh ut. Lectus sagittis id leo sit scelerisque dolor. Rhoncus nibh commodo tellus vulputate tristique eget. Eu gravida lectus fermentum, donec a mattis. Fermentum tincidunt scelerisque amet eget ac erat nec, in. Etiam habitasse elit volutpat mi.</p>
		<p class="dark-gray">Nunc arcu, enim, diam mi ultricies quis. Nulla ipsum ultricies montes, et malesuada. Commodo aliquam tellus parturient libero. Sed malesuada tristique a, eu. Lorem elementum faucibus ut tempor purus, et purus nulla. Nibh ornare lectus nunc massa suscipit netus. Quis diam, rutrum dictum ut ultricies interdum nulla quisque risus. Lorem morbi vel pellentesque metus elementum sollicitudin nunc, lacus, tristique. Posuere id urna accumsan morbi malesuada. Sit sagittis faucibus gravida viverra sit cras fringilla viverra. Massa auctor turpis euismod cras. Cras porta mus sit aliquam tincidunt scelerisque eget tincidunt facilisi.</p>
		<h3 class="primary mb-4">Subtítulo del desafío</h3>
		<p class="dark-gray">Cursus libero risus, sed porta mauris nec, in justo. Velit vivamus lorem elementum aliquam id nam tristique. Sit vestibulum velit vitae morbi a faucibus. Dui ultrices ut sociis dolor tristique non diam massa, sollicitudin. Adipiscing eleifend sodales eget id ut eu. At enim vitae malesuada etiam augue. Amet, neque at consectetur ullamcorper. Sed vitae, morbi nisi viverra semper in adipiscing morbi. Mi faucibus tortor egestas libero donec dignissim eget id. Tristique pretium cursus tempor non malesuada. Dignissim at consequat lectus mauris. Nunc felis et tincidunt volutpat mattis aliquam sit ac libero. Duis tincidunt quis risus lorem magna. Posuere in fermentum non amet laoreet viverra.</p>
		<p class="dark-gray">Habitant posuere consequat senectus vestibulum, varius enim. Sapien eu proin a arcu, gravida odio id. Quam facilisis vulputate sed risus tortor feugiat nulla. Arcu id facilisi velit, orci ut curabitur nulla duis. Sem pulvinar nunc cras quis dolor. Tellus sed nisi, massa, sem morbi cras. Auctor gravida egestas mauris interdum dictum. Urna ullamcorper scelerisque integer quis. Neque, donec nulla quis vulputate ut consequat facilisi sociis. Et a varius hendrerit nunc, nisl at et odio. Augue commodo euismod pretium leo nulla.</p>
		<h3 class="primary mb-4">Subtítulo del desafío</h3>
		<p class="dark-gray">Cursus libero risus, sed porta mauris nec, in justo. Velit vivamus lorem elementum aliquam id nam tristique. Sit vestibulum velit vitae morbi a faucibus. Dui ultrices ut sociis dolor tristique non diam massa, sollicitudin. Adipiscing eleifend sodales eget id ut eu. At enim vitae malesuada etiam augue. Amet, neque at consectetur ullamcorper. Sed vitae, morbi nisi viverra semper in adipiscing morbi. Mi faucibus tortor egestas libero donec dignissim eget id. Tristique pretium cursus tempor non malesuada. Dignissim at consequat lectus mauris. Nunc felis et tincidunt volutpat mattis aliquam sit ac libero. Duis tincidunt quis risus lorem magna. Posuere in fermentum non amet laoreet viverra.</p>
		<p class="dark-gray">Habitant posuere consequat senectus vestibulum, varius enim. Sapien eu proin a arcu, gravida odio id. Quam facilisis vulputate sed risus tortor feugiat nulla. Arcu id facilisi velit, orci ut curabitur nulla duis. Sem pulvinar nunc cras quis dolor. Tellus sed nisi, massa, sem morbi cras. Auctor gravida egestas mauris interdum dictum. Urna ullamcorper scelerisque integer quis. Neque, donec nulla quis vulputate ut consequat facilisi sociis. Et a varius hendrerit nunc, nisl at et odio. Augue commodo euismod pretium leo nulla.</p>
	</div>
	<div class="flex justify-end">
		<button class="secondary icon mt-4">
			<img src="../../assets/images/idea.svg" alt="">
			Crear nueva idea
		</button>
	</div>
</section>
