<header id="header" class="o-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="o-header__inner">
					<div class="o-header__logo">
						<a href="index.html">
							<img src="assets/images/essen-logo-dark.svg" alt="Innk">
						</a>
					</div>
					<nav class="o-header__navigation">
						<ul>
							<li><a href="second-page.html" class="c-button--link">Home</a></li>
						</ul>
					</nav>
					<button class="o-header__button" id="sidebar-toggle"></button>
				</div>
			</div>
		</div>
	</div>
</header>
